<configuration scan="true" scanPeriod="10 seconds">
<contextName>mykudos-api</contextName>
<property name="LOGGER_URL"  value="${LOGGER_URL:-127.0.0.1}" />
<property name="LOGGER_PORT" value="${LOGGER_PORT:-12201}" />
<property name="LOGGER_ENV" value="${LOGGER_ENV:-LOCAL}" />
<jmxConfigurator/>
<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
        <pattern>
            %d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n
        </pattern>
    </encoder>
</appender>
<appender name="gelf" class="biz.paluch.logging.gelf.logback.GelfLogbackAppender">
    <host>${LOGGER_URL}</host>
    <port>${LOGGER_PORT}</port>
    <version>1.1</version>
    <facility>java-app</facility>
    <extractStackTrace>true</extractStackTrace>
    <filterStackTrace>true</filterStackTrace>
    <mdcProfiling>true</mdcProfiling>
    <timestampPattern>yyyy-MM-dd HH:mm:ss,SSS</timestampPattern>
    <maximumMessageSize>8192</maximumMessageSize>
    <additionalFields>app=mykudos-api</additionalFields>
    <additionalFieldTypes>app=String</additionalFieldTypes>
    <additionalFields>env=${LOGGER_ENV}</additionalFields>
    <additionalFieldTypes>env=String</additionalFieldTypes>
</appender>
<root level="info">
    <appender-ref ref="console" />
    <appender-ref ref="gelf" />
</root>
</configuration>
